* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1d1f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  color: white;
  gap: 25rem;
}

#display {
  font-size: 100px;
}

.fonts {
  display: flex;
  gap: 2rem;
  font-size: 40px;
  cursor: pointer;
}

#start,
#pause,
#reset {
    transition: .5s
}

#start:hover {
  transform: scale(1.1);
}
#pause:hover {
  transform: scale(1.1);
}
#reset:hover {
  transform: scale(1.1);
}
